<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicineMS</display-name>
  <welcome-file-list>
    <welcome-file>/user/login/login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.util.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/XXXXXXXXXXXXX</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PrivilegeFilter</display-name>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>com.action.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/PrivilegeFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>createMedicineSaleRecordAction</display-name>
    <servlet-name>createMedicineSaleRecordAction</servlet-name>
    <servlet-class>com.action.createMedicineSaleRecordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createMedicineSaleRecordAction</servlet-name>
    <url-pattern>/createMedicineSaleRecordService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginAction</display-name>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>com.action.loginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/MedicineMS/user/login/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_MedicineSaleRecordAction</display-name>
    <servlet-name>search_MedicineSaleRecordAction</servlet-name>
    <servlet-class>com.action.search_MedicineSaleRecordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_MedicineSaleRecordAction</servlet-name>
    <url-pattern>/search_MedicineSaleRecordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_MStorageAction</display-name>
    <servlet-name>search_MStorageAction</servlet-name>
    <servlet-class>com.action.search_MStorageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_MStorageAction</servlet-name>
    <url-pattern>/search_MStorageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_MedicineInfoAction</display-name>
    <servlet-name>search_MedicineInfoAction</servlet-name>
    <servlet-class>com.action.search_MedicineInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_MedicineInfoAction</servlet-name>
    <url-pattern>/search_MedicineInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>测试AJAX数据传输</description>
    <display-name>deleteMedicineTest</display-name>
    <servlet-name>deleteMedicineTest</servlet-name>
    <servlet-class>com.action.deleteMedicineTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicineTest</servlet-name>
    <url-pattern>/deleteMedicineTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除药品记录</description>
    <display-name>deleteMedicineInfoAction</display-name>
    <servlet-name>deleteMedicineInfoAction</servlet-name>
    <servlet-class>com.action.deleteMedicineInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicineInfoAction</servlet-name>
    <url-pattern>/deleteMedicineInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateMedicineInfoAction</display-name>
    <servlet-name>updateMedicineInfoAction</servlet-name>
    <servlet-class>com.action.updateMedicineInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateMedicineInfoAction</servlet-name>
    <url-pattern>/updateMedicineInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterAction</display-name>
    <servlet-name>UserRegisterAction</servlet-name>
    <servlet-class>com.action.UserRegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterAction</servlet-name>
    <url-pattern>/user_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBack_createAction</display-name>
    <servlet-name>FeedBack_createAction</servlet-name>
    <servlet-class>com.action.FeedBack_createAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBack_createAction</servlet-name>
    <url-pattern>/feedback_formAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStaffInfoAction</display-name>
    <servlet-name>updateStaffInfoAction</servlet-name>
    <servlet-class>com.action.updateStaffInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStaffInfoAction</servlet-name>
    <url-pattern>/updateStaffInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_staffsAction</display-name>
    <servlet-name>search_staffsAction</servlet-name>
    <servlet-class>com.action.search_staffsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_staffsAction</servlet-name>
    <url-pattern>/search_staffsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_customersAction</display-name>
    <servlet-name>search_customersAction</servlet-name>
    <servlet-class>com.action.search_customersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_customersAction</servlet-name>
    <url-pattern>/search_customersAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBack_ApplyAccountAction</display-name>
    <servlet-name>FeedBack_ApplyAccountAction</servlet-name>
    <servlet-class>com.action.FeedBack_ApplyAccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBack_ApplyAccountAction</servlet-name>
    <url-pattern>/FeedBack_ApplyAccountAction</url-pattern>
  </servlet-mapping>
</web-app>